<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
</head>
<body>
    <h1>Add Department</h1>
    <form method="post">
        Department Id <br/>
        <input type="text" name="deptid" required />
        <p></p>
        Department Name <br/>
        <input type="text" name="deptname" required />
        <p></p>
        <input type="submit" value="Add Dept"/>
    </form>
</body>
</html>