<!DOCTYPE html>
<html>

<head>
  <title>Interest Calculation</title>

</head>

<body>
  <h1>Interest Calculation</h1>
  <form method="post">
    Deposit Amount <br />
    <input type="number" name="amount" />
    <p></p>
    Interest Rate <br />
    <input type="number" step="0.01" name="rate" />
    <p></p>
    <button>Calculate</button>
  </form>

</body>

</html>