<!DOCTYPE html>
<html>
  <head>
    <title>Interest Calculation</title>
    <link href="styles.css" rel="stylesheet" />
  </head>
  <body>
     <h1>Interest = <%= interest %> </h1>
     <a href="interest">Calculate Interest Again!</a>
  </body>
</html>
