<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Course</title>
</head>
<body>
    <h1>Course Details</h1>
    <table border="1" cellpadding="5pt">
        <tr>
            <th>Title</th>
            <td><%=title%></td>
        </tr>
        <tr>
            <th>Fee</th>
            <td><%=fee%></td>
        </tr>

    </table>
</body>
</html>